---
---

$fontsize: 16px;
$spacing:  8px;

$contentwidth: 800px;
$leftcolumnwidth: 500px;
$columnpadding: 30px;

$imagedir: '../images';

@import
    "reset",
    url('http://fonts.googleapis.com/css?family=Droid+Sans'),
    "base"
;
