---
title: FAQ
layout: page
editlink:
  template: faq.html
  data: _data/faq.yml
---

{% assign languages = "en de" | split: ' ' %}

<script type="text/javascript">
    var languages = [ "{{ languages | join: '", "' }}" ];

    function switchLanguage(lang) {
        if ($.inArray(userLang, languages) > -1) {
            $('.faqitem div[lang], h2[lang], .faqnavigation[lang]').hide();
            $('.faqitem div[lang="' + lang + '"], h2[lang="' + lang + '"], .faqnavigation[lang="' + lang + '"]').show();

            // jump to anchor again because page length might have changed
            if (location.hash) {
                location.hash = location.hash;
            }
        }
    }
</script>

<h1>FAQ - Frequently Asked Questions</h1>

<div id="language-selection" style="display: none;">
    <a href="javascript:switchLanguage('en');">English</a>
    <a href="javascript:switchLanguage('de');">Deutsch</a>
</div>

{% for language in languages %}
<ul class="faqnavigation" lang="{{ language }}">
    {% for category in site.data.faq %}
        {% if category.title[language] == nil %}
            {% assign lang = "en" %}
        {% else %}
            {% assign lang = language %}
        {% endif %}
        <li>{{ category.title[lang] }}
            <ul>
            {% for item in category.items %}
                {% if item[language] == nil %}
                    {% assign lang = "en" %}
                {% else %}
                    {% assign lang = language %}
                {% endif %}
                <li><a href="#{{ item.id }}">{{ item[lang].title }}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endfor %}

{% for category in site.data.faq %}
    {% for language in languages %}
        {% if category.title[language] == nil %}
            {% assign lang = "en" %}
        {% else %}
            {% assign lang = language %}
        {% endif %}
        <h2 lang="{{ language }}">{{ category.title[lang] }}</h2>
    {% endfor %}

    {% for item in category.items %}
        <div id="{{ item.id }}" class="faqitem">
            <div class="faqitem-content">
                <a href="#{{ item.id }}" class="quicklink">&#128279;</a>
                {% for language in languages %}
                    {% if item[language] == nil %}
                        {% assign lang = "en" %}
                    {% else %}
                        {% assign lang = language %}
                    {% endif %}
                    <div lang="{{ language }}">
                        <h3>{{ item[lang].title }}</h3>
                        {{ item[lang].content | markdownify }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endfor %}

<script type="text/javascript">
    $('#language-selection').show();

    var userLang = (navigator.language || navigator.userLanguage).split('-')[0];
    switchLanguage(userLang);
</script>
