---
layout: default
editlink:
  warning: _includes/warning.md
  short description: _includes/description_short.md
  long description: _includes/description_long.md
---

<div id="bar">
    <div class="cont">
        <img src="images/cgeo-logo.png" class="logo">
        <div class="column right">
            {% capture mdtmp %}{% include description_short.md %}{% endcapture %}
            {{ mdtmp | markdownify }}
            <div id="buttons">
                <a href="https://play.google.com/store/apps/details?id=cgeo.geocaching"><img src="images/btn_play.png"></a>
                <span style="margin-right: 40px;">&nbsp;</span>
                <a href="https://github.com/cgeo/cgeo/releases/latest"><img src="images/btn_apk.png"></a>
            </div>
        </div>
    </div>
</div>

{% capture mdtmp %}{% include warning.md %}{% endcapture %}
{% unless mdtmp contains "WARNING_DISABLED" %}
    <div class="warning">
        {{ mdtmp | markdownify }}
    </div>
{% endunless %}

<div class="container">
    <div class="column left">
        {% capture mdtmp %}{% include description_long.md %}{% endcapture %}
        {{ mdtmp | markdownify }}
    </div>
    <div class="column right">
        {% include index_sidebar.html %}
    </div>
</div>
