<head>
    <meta charset="utf-8">

    <title>c:geo – {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Twitter metadata -->
	<meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@android_gc">
	<meta name="twitter:description" content="{% include description.md %}">
	<meta name="twitter:app:name:googleplay" content="c:geo">
	<meta name="twitter:app:id:googleplay" content="cgeo.geocaching">

    <link rel="stylesheet" href="/css/main.css">

	<!-- Vendor scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
	<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
</head>
