<div class="socialmedia">
    <a href="https://www.facebook.com/android.geocaching" class="facebook"></a>
    <a href="https://plus.google.com/105588163414303246956" class="googleplus" rel="publisher"></a>
    <a href="https://twitter.com/android_gc" class="twitter"></a>
</div>

<div class="screenshots">
    <a href="images/screenshots/1.png" class="fancybox" rel="screenshots"><img src="images/screenshots/1_thumb.jpg"></a>
    <a href="images/screenshots/2.png" class="fancybox" rel="screenshots"><img src="images/screenshots/2_thumb.jpg"></a>
    <a href="images/screenshots/3.png" class="fancybox" rel="screenshots"><img src="images/screenshots/3_thumb.jpg"></a>
    <a href="images/screenshots/4.png" class="fancybox" rel="screenshots"><img src="images/screenshots/4_thumb.jpg"></a>
    <a href="images/screenshots/5.png" class="fancybox" rel="screenshots"><img src="images/screenshots/5_thumb.jpg"></a>
    <a href="images/screenshots/6.png" class="fancybox" rel="screenshots"><img src="images/screenshots/6_thumb.jpg"></a>
</div>

<p>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=AQBS7UP76CXW2" class="donate-btn" title="Donate (PayPal)"></a>
</p>
