.status {
    table {
        $border-color: rgba(white, .7);
        width:100%;
        margin-bottom: 15px;

        thead { border-bottom: 1px solid $border-color; }
        tfoot {
            border-top: 1px solid $border-color;
            td { font-weight: bold; }
        }
        tbody > tr:nth-of-type(odd) { background: rgba(white, .05); }
        th { font-weight: bold; }
        th, td {
            text-align: center;
            padding: 15px;
        }
    }

    #message-div { display: none; } // Controlled by JS
    #gc-div { display: none; margin-top: 1em; } // Controlled by JS
}
