<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div id="navigation">
            <a href="/" class="home">Home</a>
            {% capture mdtmp %}{% include navigation.md %}{% endcapture %}
            {{ mdtmp | markdownify }}
        </div>

        {{ content }}

        {% unless page.noeditlink %}
            <div id="footer">
                {% if page.editlink %}
                    Edit page on GitHub:
                    {% for source in page.editlink %}
                        <a href="{{ site.github.repository_url }}/edit/{{ site.github.branch }}/{{ source[1] }}">{{ source[0] }}</a>
                    {% endfor %}
                {% else %}
                    <a href="{{ site.github.repository_url }}/edit/{{ site.github.branch }}/{{ page.path }}">Edit page on GitHub</a>
                {% endif %}
            </div>
        {% endunless %}
    </body>

</html>
